a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: grey;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: rgb(0, 255, 76);
  background-color: transparent;
  text-decoration: underline;
}

body {
  background-color: blanchedalmond;
  font-family: Arial, Helvetica, sans-serif;
}

#linkBar {
  text-align: center;
}

.bigLine {
  border: 3px solid rgba(0, 0, 0, 0.712);
}

.centerImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#centerText {
  align-content: center;
}

header {
  align-content: center;
}

#nationInfo {
  align-content: center;
}

.centerText {
  align-content: center;
}

#cultureInfo {
  align-content: center;
}
